<h2>Login</h2>

<%=erb :'sessions/_errors' %>

<form method="post" action="/sessions">
  <div class="field">
    <label for="user_username">Username</label>
    <input type="text" name="username" id="user_username" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="password" id="user_password" />
  </div>
  <div class="field">
    <input type="submit" value="Login" />
  </div>
</form>
