#content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
  resize: none;
}

header {
  padding: .5em 1em;
  background-color: antiquewhite;
}
header form, span form {
  display: inline-block;
}

a {
  color: #333333;
}

.sign-out-link, .delete-link {
  display: inline-block;
  border: none;
  background: none;
  color: #333333;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.control-span {
  font-size: 75%;
}

.errors li {
  list-style: none;
  color: red;
}

th, td {
    padding-right: 25px;
    text-align: left;
}

tr:nth-child(even) {
  background: #CCC;
}

.attribute-details {
  display: none;
}
