body {
  background-image: url('../img/Executorbridge.jpg');
}

#content {
  width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}

input, textarea {
  display: block;
  margin-bottom: 1em;
  resize: none;
}

header {
  padding: .5em 1em;
  background-color: black;
}
header form, span form {
  display: inline-block;
}

header a {
  color: #eee;
}

a {
  color: #333;
}

.sign-out-link, .delete-link {
  display: inline-block;
  border: none;
  background: none;
  color: #eee;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.control-span {
  font-size: 75%;
}

.errors li {
  list-style: none;
  color: red;
}

th, td {
    padding-right: 25px;
    text-align: left;
}

tr:nth-child(odd) {
  background: #eee;
}

.attribute-details {
  display: none;
}

.character-list {
  list-style: none;
  column-count: 2;
}

.character-list input[type="submit"]{
  background: none;
  border: none;
  text-decoration: underline;
}
