<h2>Create Account</h2>

<%=erb :'users/_errors' %>

<form method="post" action="/users">
  <div class="field">
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="user_email" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input type="password" name="password" id="user_password" />
  </div>
  <!-- <div class="field">
    <label for="confirm_user_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="user_confirm_password" />
  </div> -->
  <div class="field">
    <input type="submit" value="Create New User"/>
  </div>
</form>
