<h2>Generate a Random Character</h2>
<form id="random-character" method="POST" action="/characters">
  <div class="field">
  <label for="character_name">Name:</label>
  <input type="text" name="name" id="character_name" />
</div>
<div class="field">
  <label for="character_gender">Gender:</label>
  <input type="text" name="gender" id="character_gender" />
</div>

<div class="field">
  <input type="submit" value="Generate Character" />
</div>

</form>
