<!-- <h2>Create a new character</h2>

<form method="post" action="/characters">
  <div class="field">
    <label for="character_name">Name</label>
    <input type="text" name="name" id="character_name" />
  </div>
  <div class="field">
    <label for="character_description">Description</label>
    <textarea name="description" id="character_description"></textarea>
  </div>
  <div class="field">
    <input type="submit" value="Create New Character"/>
  </div>
</form> -->

<h2>Create a random character</h2>
<form method="post" action="/characters">
  <div class="field">
    <input type="submit" value="Create New Character"/>
  </div>
</form>
